* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f2ef;
}

/* HEADER */

.header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  border-bottom: 1px solid #ddd;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 34px;
  color: #0a66c2;
}

.header input {
  padding: 7px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 260px;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: gray;
  cursor: pointer;
}

/* GRID */

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  gap: 20px;
}

/* CARDS */

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 0 4px rgba(0,0,0,0.08);
}

/* PERFIL */

.cover {
  height: 80px;
  background: linear-gradient(120deg, #0a66c2, #0073b1);
  border-radius: 10px 10px 0 0;
}

.avatar {
  width: 72px;
  height: 72px;
  background: #999;
  border-radius: 50%;
  margin: -36px auto 10px;
  border: 3px solid white;
}

.profile h3,
.profile p,
.profile small {
  text-align: center;
}

/* IZQUIERDA */

.left-menu p {
  padding: 6px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

/* FEED */

.feed {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-box input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: gray;
}

.post-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.perfil-circular {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden; 
  border: 3px solid white;
}

.perfil-circular img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gray {
  font-size: 12px;
  color: gray;
}

.post-text {
  margin: 10px 0;
}

.post img {
  width: 100%;
  border-radius: 10px;
}

.post-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 13px;
  color: gray;
}

/* DERECHA */

.puzzle-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.puzzle-img {
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 10px;
}

.follow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}

.follow button {
  margin-left: auto;
  padding: 5px 12px;
  border-radius: 20px;
  border: 1px solid #0a66c2;
  background: none;
  color: #0a66c2;
  cursor: pointer;
}


